.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.content {
  display: flex;
  background-color: beige;
}
.row {
  display: flex;
  flex-direction: row;
}

.lbl {
  width: 100%;
}
.input {
  width: 100%;
}
